In [4]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import scipy.stats as stats

In [5]:
cd ..

/Users/alphonsowoodbury/DS/mod2project/flatiron_mod2_project_kch

In [10]:
df = pd.read_csv('kc_cleaned.csv')
df

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,view,condition,grade,zipcode,lat,long,sqft_living15,sqft_lot15,has_waterfront,has_basement,has_renovation,eff_built
0,221900.0,3,1,1180.0,5650.0,1,0,3,7,98178,47.5112,-122.257,1340.0,5650.0,0,0,0,65
1,538000.0,3,2,2570.0,7242.0,2,0,3,7,98125,47.7210,-122.319,1690.0,7639.0,0,1,1,29
2,180000.0,2,1,770.0,10000.0,1,0,3,6,98028,47.7379,-122.233,2720.0,8062.0,0,0,0,87
3,604000.0,4,3,1960.0,5000.0,1,0,5,7,98136,47.5208,-122.393,1360.0,5000.0,0,1,0,55
4,510000.0,3,2,1680.0,8080.0,1,0,3,8,98074,47.6168,-122.045,1800.0,7503.0,0,0,0,33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21592,360000.0,3,2,1530.0,1131.0,3,0,3,8,98103,47.6993,-122.346,1530.0,1509.0,0,0,0,11
21593,400000.0,4,2,2310.0,5813.0,2,0,3,8,98146,47.5107,-122.362,1830.0,7200.0,0,0,0,6
21594,402101.0,2,0,1020.0,1350.0,2,0,3,7,98144,47.5944,-122.299,1020.0,2007.0,0,0,0,11
21595,400000.0,3,2,1600.0,2388.0,2,0,3,8,98027,47.5345,-122.069,1410.0,1287.0,0,0,0,16
21596,325000.0,2,0,1020.0,1076.0,2,0,3,7,98144,47.5941,-122.299,1020.0,1357.0,0,0,0,12

In [7]:
mybins = range(0, df.eff_built.max(), 25)
df['age_bucket'] = pd.cut(df.eff_built, bins=mybins)
df['age_bucket'].value_counts()

(0, 25]      6240
(25, 50]     5938
(50, 75]     5807
(75, 100]    2335
Name: age_bucket, dtype: int64

#### price by age*

In [ ]:
plt.figure(figsize=(20,5))
sns.boxplot(df.age_bucket,df.price)

In [ ]:
sns.scatterplot(df.eff_built,df.price)

In [ ]:
df.age_bucket.describe()

In [ ]:
plt.hist(df.eff_built)

In [ ]:
print(df['price'].describe())
plt.figure(figsize=(9, 8))
sns.distplot(df['price'], color='g', bins=100, hist_kws={'alpha': 0.4});

#### price by zip

In [ ]:
plt.figure(figsize=(20,15))

sns.boxplot(df.zipcode,df.price)
#f-test?

#### price by condition, grade

In [ ]:
f, axes = plt.subplots(1, 2,figsize=(25,5))
#plt.figure(figsize=(15,30))
sns.violinplot(  y="price", x= "condition", data=df,  orient='v' , ax=axes[0],cut=0)
sns.violinplot(  y="price", x= "grade", data=df,  orient='v' , ax=axes[1],cut=0)

#### price by reno, basement, waterfront

In [ ]:
f, axes = plt.subplots(1, 3,figsize=(25,5))
#plt.figure(figsize=(15,30))
sns.violinplot(df.has_renovation,df.price, ax=axes[0], cut=0) #ztest
sns.violinplot(df.has_basement,df.price, ax=axes[1], cut=0) #ztest
sns.violinplot(df.has_waterfront,df.price, ax=axes[2], cut=0) #ztest

#### price by bedrooms, bathrooms

In [ ]:
f, axes = plt.subplots(1, 2,figsize=(15,5))
#plt.figure(figsize=(15,30))
sns.boxplot(  y="price", x= "bedrooms", data=df,  orient='v' , ax=axes[0])
sns.boxplot(  y="price", x= "bathrooms", data=df,  orient='v' , ax=axes[1])


# how to assess?

#### View

In [ ]:
plt.figure(figsize=(20,15))
sns.boxplot(df.view,df.price)

# not really sure what view is...?

In [ ]:
view = df.view
size = (np.sqrt(df.price**3/(10000000000000000)))
fig, ax = plt.subplots(figsize=(10,10))
scatter = plt.scatter(df.long,df.lat,c=view,s=size, cmap='tab20b')

legend = ax.legend(*scatter.legend_elements(),
                    loc="lower left", title="View Rating")
ax.add_artist(legend)
plt.savefig('views.png')
plt.show()

## for presentation, add map, clean up axis labels